<div class="main">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <!-- Modal -->
        <app-add-update-certifications
          [isAdd]="true"
          (updateItems)="ChangeItems()"
          [existedData]="allcertifications"
        ></app-add-update-certifications>
        <!-- Modal -->
      </div>
    </div>
  </div>
  <app-display-certifications
    [allcertifications]="allcertifications"
    [canDelete]="true"
    (refresh)="ChangeItems()"
  ></app-display-certifications>
</div>
