<p>helo</p>
<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Album example</h1>
      <p class="lead text-muted">
        Something short and leading about the collection below—its contents, the
        creator, etc. Make it short and sweet, but not too short so folks don’t
        simply skip over it entirely.
      </p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <!-- Select Filter right here-->
        </div>
        <div class="col-8 form-inline" *ngIf="TrainersList">
          <input
            (keyup.enter)="onSearch()"
            class="form-control mr-2"
            #search
            style="width: 300px"
            placeholder="Search"
            type="text"
          />
          <button (click)="onSearch()" class="btn btn-outline-primary my-2">
            Search
          </button>
          <button (click)="onReset()" class="btn btn-outline-success ml-2 my-2">
            Reset
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" *ngFor="let item of TrainersList">
          <app-trainer-item [TrainerItemData]="item"></app-trainer-item>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- <app-trainer-item></app-trainer-item> -->
