<div class="card mb-4 shadow rounded" [id]="TrainerItemData.Id">
  <img [src]="TrainerItemData.PhotoUrl" alt="profile-image" class="" />
  <div class="card-body">
    <h5>
      <b> {{ TrainerItemData.KnownAs }}</b>
    </h5>
    <small class="text-muted"
      ><b
        >{{ TrainerItemData.City }}, {{ TrainerItemData.Province }}
        {{ TrainerItemData.Country }}</b
      ></small
    >
    <p class="card-text">
      <app-rating
        [avgRating]="TrainerItemData.AvgStar"
        [numberOfRatings]="TrainerItemData.TotalStars"
      ></app-rating>
    </p>

    <ul class="list-inline">
      <li
        class="list-inline-item mr-2"
        *ngFor="let item of TrainerItemData.Focus"
      >
        <span class="badge badge-light">{{ item }}</span>
      </li>
    </ul>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">
          View
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary">
          Edit
        </button>
      </div>
      <small class="text-muted"
        >Last Active: {{ TrainerItemData.LastActive | date }}</small
      >
    </div>
  </div>
</div>
