<div
  class="card h-100 shadow"
  [routerLink]="[currentTrainer.uid]"
  routerLinkActive="router-link-active"
>
  <div class="image position-relative" style="cursor: pointer">
    <img
      [src]="
        !currentTrainer.profileUrl
          ? currentTrainer.gender === 0
            ? 'assets/female.png'
            : 'assets/male.png'
          : currentTrainer.profileUrl
      "
      alt="{{ currentTrainer.name }}"
      class="img-fluid bg-info"
    />
  </div>
  <div class="card-body d-flex flex-column">
    <h6 class="text-uppercase">
      {{ currentTrainer.name | titlecase }}
      <br />
      <app-rating
        [avgRating]="currentTrainer.avgRatingScore"
        [numberOfRatings]="currentTrainer.totalRatings"
      ></app-rating>
    </h6>
    <span
      >{{ currentTrainer.city }},
      {{ currentTrainer.province }}
      {{ currentTrainer.country }}</span
    >
  </div>
</div>
