<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-header"><b>My Account</b></div>
        <div class="card-body">
          <app-account-user-form
            [fullData]="BaseUserAccountData"
            (submitForm)="ChangeAccountSetting($event)"
          ></app-account-user-form>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card" style="width: 18rem; height: 25rem">
        <img class="card-img-top" [src]="ProfileImage" alt="Profile Image" />
        <div class="card-body">
          <app-image-upload-form
            [label]="'Change Profile Image'"
            (photoSubmit)="ChangeProfileImage($event)"
          ></app-image-upload-form>
        </div>
      </div>
    </div>
  </div>
</div>
