.main {
  width: 60vw;

  margin: auto;
}
.card-body {
  padding: 0rem;
}
.header {
  font-family: Proxima Nova, Arial, sans-serif;
}
.no-edge {
  border-radius: 0px;
}
.block {
  width: 100%;
  margin: -20;
  height: 4rem;
}
.default {
  padding: 1.25rem;
}
