<div class="card main no-edge shadow" *ngIf="currentTrainer?.name">
  <div class="card-body">
    <div class="container">
      <!-- Header -->
      <div class="row default">
        <div class="col-4">
          <img
            [src]="
              !currentTrainer?.profileUrl
                ? currentTrainer?.gender === 0
                  ? 'assets/female.png'
                  : 'assets/male.png'
                : currentTrainer?.profileUrl
            "
            [alt]="currentTrainer?.name"
            class="img-thumbnail"
          />
        </div>
        <div class="col-8">
          <h4 class="header">{{ currentTrainer?.name | titlecase }}</h4>
          <span class="text-secondary">
            <b>
              {{ currentTrainer?.city }}, {{ currentTrainer?.province }}
              {{ currentTrainer?.country }}</b
            >
          </span>
          <app-rating
            [avgRating]="currentTrainer?.avgRatingScore"
            [numberOfRatings]="currentTrainer?.totalRatings"
          ></app-rating>
          <ul class="list-inline">
            <li
              class="list-inline-item"
              *ngFor="let item of currentTrainer?.focus"
            >
              <span class="badge badge-pill badge-light">{{ item }}</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- Content -->
      <div class="row">
        <div
          class="mt-2 alert alert-warning no-edge block text-center"
          role="alert"
        >
          <b
            >Want to train with {{ currentTrainer?.name | titlecase }}?
            <button type="button" class="ml-2 btn btn-secondary">
              Contact
              {{ currentTrainer?.gender === 0 ? "her" : "him" }}
            </button>
          </b>
        </div>
      </div>
      <div class="row default">
        <div class="col-4">
          <h5>Menu</h5>
          <hr />
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let item of sideBarContent">
                <a class="nav-link active" [routerLink]="'/' + item.route">
                  <i [class]="item.icon"></i> {{ item.name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-8">
          <div class="default border-left">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!currentTrainer?.name">
  <app-error
    [header]="'404: The personal trainer that you are looking for is not found'"
    [isChild]="false"
  ></app-error>
</div>
